Use the dataset “wholesale_customers_data.csv”. It contains for each customer the amount spent in different product categories.  
Keep the data for the categories “Grocery” and “Milk”.  
Determine the optimal number of clusters

In [1]:
import pandas as pd

url = 'https://raw.githubusercontent.com/HOGENT-Databases/BI-BigData/master/data/wholesale_customers_data.csv'
dataset=pd.read_csv(url,sep=',')
dataset

,Channel,Region,Fresh,Milk,Grocery,Frozen,Detergents_Paper,Delicatessen
0,2,3,12669,9656,7561,214,2674,1338
1,2,3,7057,9810,9568,1762,3293,1776
2,2,3,6353,8808,7684,2405,3516,7844
3,1,3,13265,1196,4221,6404,507,1788
4,2,3,22615,5410,7198,3915,1777,5185
...,...,...,...,...,...,...,...,...
435,1,3,29703,12051,16027,13135,182,2204
436,1,3,39228,1431,764,4510,93,2346
437,2,3,14531,15488,30243,437,14841,1867
438,1,3,10290,1981,2232,1038,168,2125
439,1,3,2787,1698,2510,65,477,52