## Matplotlib: case COVID-19
Matplotlib is the most commonly used Python library for visualizing data. See https://jakevdp.github.io/PythonDataScienceHandbook/, a free online book by Jake Van der Plas, that covers a.o. pandas, matplotlib and machine learning.

In [1]:
import pandas as pd
import numpy as np

In [2]:
# coviddata = pd.read_csv("https://opendata.ecdc.europa.eu/covid19/casedistribution/csv")
'''
Concerning case Corona: the dataset referenced by the original link (https://opendata.ecdc.europa.eu/covid19/casedistribution/csv) has changed and now only contains weekly averages
We now use instead
coviddata = pd.read_excel ("https://www.ecdc.europa.eu/sites/default/files/documents/COVID-19-geographic-disbtribution-worldwide-2020-12-14.xlsx")
These are not the most recent values, but the notebook will then be fully functional again.
'''
coviddata = pd.read_excel("https://www.ecdc.europa.eu/sites/default/files/documents/COVID-19-geographic-disbtribution-worldwide-2020-12-14.xlsx")

In [3]:
# Print the first 5 (default value) records
coviddata.head()

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
0,2020-12-14,14,12,2020,746,6,Afghanistan,AF,AFG,38041757.0,Asia,9.013779
1,2020-12-13,13,12,2020,298,9,Afghanistan,AF,AFG,38041757.0,Asia,7.052776
2,2020-12-12,12,12,2020,113,11,Afghanistan,AF,AFG,38041757.0,Asia,6.868768
3,2020-12-11,11,12,2020,63,10,Afghanistan,AF,AFG,38041757.0,Asia,7.134266
4,2020-12-10,10,12,2020,202,16,Afghanistan,AF,AFG,38041757.0,Asia,6.968658

In [4]:
# Print the first 10 records
coviddata.head(10)

      dateRep  ...  Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
0  27/10/2020  ...                                           2.902074
1  26/10/2020  ...                                           2.718066
2  25/10/2020  ...                                           2.799555
3  24/10/2020  ...                                           2.586631
4  23/10/2020  ...                                           2.452568
5  22/10/2020  ...                                           2.350049
6  21/10/2020  ...                                           2.173927
7  20/10/2020  ...                                           2.105581
8  19/10/2020  ...                                           2.258045
9  18/10/2020  ...                                           2.218615

[10 rows x 12 columns]

In [4]:
# Print the last 5 (default value) records
coviddata.tail()

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
61895,2020-03-25,25,3,2020,0,0,Zimbabwe,ZW,ZWE,14645473.0,Africa,NaN
61896,2020-03-24,24,3,2020,0,1,Zimbabwe,ZW,ZWE,14645473.0,Africa,NaN
61897,2020-03-23,23,3,2020,0,0,Zimbabwe,ZW,ZWE,14645473.0,Africa,NaN
61898,2020-03-22,22,3,2020,1,0,Zimbabwe,ZW,ZWE,14645473.0,Africa,NaN
61899,2020-03-21,21,3,2020,1,0,Zimbabwe,ZW,ZWE,14645473.0,Africa,NaN

In [6]:
# Print the last 15 records
coviddata.tail(15)

          dateRep  ...  Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
51668  04/04/2020  ...                                           0.054624
51669  03/04/2020  ...                                           0.054624
51670  02/04/2020  ...                                                NaN
51671  01/04/2020  ...                                                NaN
51672  31/03/2020  ...                                                NaN
51673  30/03/2020  ...                                                NaN
51674  29/03/2020  ...                                                NaN
51675  28/03/2020  ...                                                NaN
51676  27/03/2020  ...                                                NaN
51677  26/03/2020  ...                                                NaN
51678  25/03/2020  ...                                                NaN
51679  24/03/2020  ...                                                NaN
51680  23/03/2020  ...                                                NaN
51681  22/03/2020  ...                                                NaN
51682  21/03/2020  ...                                                NaN

[15 rows x 12 columns]

In [7]:
# Names of the columns
coviddata.columns

Index(['dateRep', 'day', 'month', 'year', 'cases', 'deaths',
       'countriesAndTerritories', 'geoId', 'countryterritoryCode',
       'popData2019', 'continentExp',
       'Cumulative_number_for_14_days_of_COVID-19_cases_per_100000'],
      dtype='object')

In [8]:
# What is the index?
coviddata.index

RangeIndex(start=0, stop=51683, step=1)

In [9]:
# This is an easy way to check if there are some columns with missing data.
# E.g. CountryterritoryCode is 51398 and most other values are 51472
coviddata.count()

dateRep                                                       51683
day                                                           51683
month                                                         51683
year                                                          51683
cases                                                         51683
deaths                                                        51683
countriesAndTerritories                                       51683
geoId                                                         51456
countryterritoryCode                                          51608
popData2019                                                   51608
continentExp                                                  51683
Cumulative_number_for_14_days_of_COVID-19_cases_per_100000    48879
dtype: int64

In [10]:
# The dimensions of the dataframe
coviddata.shape

(51683, 12)

In [11]:
# General statistical information on numeric fields
coviddata.describe()

                day  ...  Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
count  51683.000000  ...                                       48879.000000
mean      15.885436  ...                                          42.494551
std        8.739709  ...                                         100.455527
min        1.000000  ...                                        -147.419587
25%        8.000000  ...                                           0.529216
50%       16.000000  ...                                           5.464659
75%       23.000000  ...                                          37.063642
max       31.000000  ...                                        1761.686598

[8 rows x 7 columns]

In [12]:
# Checking the data types of the columns
coviddata.dtypes
# You can see that dateRep is an object and not datetype. We will have to change this.

dateRep                                                        object
day                                                             int64
month                                                           int64
year                                                            int64
cases                                                           int64
deaths                                                          int64
countriesAndTerritories                                        object
geoId                                                          object
countryterritoryCode                                           object
popData2019                                                   float64
continentExp                                                   object
Cumulative_number_for_14_days_of_COVID-19_cases_per_100000    float64
dtype: object

In [13]:
# We have to cast the dateRep from object to datetime
from datetime import datetime
coviddata['dateRep'] = pd.to_datetime(coviddata['dateRep'], format='%d/%m/%Y')
coviddata.head()

     dateRep  ...  Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
0 2020-10-27  ...                                           2.902074
1 2020-10-26  ...                                           2.718066
2 2020-10-25  ...                                           2.799555
3 2020-10-24  ...                                           2.586631
4 2020-10-23  ...                                           2.452568

[5 rows x 12 columns]

In [14]:
# Checking the data types of the columns again
coviddata.dtypes
# You can see that dateRep is an object and not datetype. We will have to change this.

dateRep                                                       datetime64[ns]
day                                                                    int64
month                                                                  int64
year                                                                   int64
cases                                                                  int64
deaths                                                                 int64
countriesAndTerritories                                               object
geoId                                                                 object
countryterritoryCode                                                  object
popData2019                                                          float64
continentExp                                                          object
Cumulative_number_for_14_days_of_COVID-19_cases_per_100000           float64
dtype: object

In [15]:
# The column name countriesAndTerritories and Cumulative_number_for_14_days_of_COVID-19_cases_per_100000 are quite long, let's rename both
coviddata.rename(columns={'countriesAndTerritories':'country', 'Cumulative_number_for_14_days_of_COVID-19_cases_per_100000':'cum_number_14_days_cases_per_100000'}, inplace=True)
coviddata.head()

     dateRep  day  ...  continentExp  cum_number_14_days_cases_per_100000
0 2020-10-27   27  ...          Asia                             2.902074
1 2020-10-26   26  ...          Asia                             2.718066
2 2020-10-25   25  ...          Asia                             2.799555
3 2020-10-24   24  ...          Asia                             2.586631
4 2020-10-23   23  ...          Asia                             2.452568

[5 rows x 12 columns]

In [16]:
# We have duplicate data: geoId, vs countryterritoryCode => drop geoId
# axis = 1 is necessary to indicate we want to delete columns (use axis = 0 for row based deletion) 
# If you only want to drop more 1 column, you don't really need square brackets
coviddata = coviddata.drop(['geoId'], axis = 1)
coviddata.head()

     dateRep  day  ...  continentExp  cum_number_14_days_cases_per_100000
0 2020-10-27   27  ...          Asia                             2.902074
1 2020-10-26   26  ...          Asia                             2.718066
2 2020-10-25   25  ...          Asia                             2.799555
3 2020-10-24   24  ...          Asia                             2.586631
4 2020-10-23   23  ...          Asia                             2.452568

[5 rows x 11 columns]

In [17]:
# Excercise: drop the columns day and year
coviddata = coviddata.drop(['day','year'], axis = 1)
coviddata.head()

     dateRep  month  ...  continentExp  cum_number_14_days_cases_per_100000
0 2020-10-27     10  ...          Asia                             2.902074
1 2020-10-26     10  ...          Asia                             2.718066
2 2020-10-25     10  ...          Asia                             2.799555
3 2020-10-24     10  ...          Asia                             2.586631
4 2020-10-23     10  ...          Asia                             2.452568

[5 rows x 9 columns]

In [18]:
# What are the unique values for country
coviddata['country'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Anguilla', 'Antigua_and_Barbuda', 'Argentina', 'Armenia', 'Aruba',
       'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bermuda', 'Bhutan', 'Bolivia',
       'Bonaire, Saint Eustatius and Saba', 'Bosnia_and_Herzegovina',
       'Botswana', 'Brazil', 'British_Virgin_Islands',
       'Brunei_Darussalam', 'Bulgaria', 'Burkina_Faso', 'Burundi',
       'Cambodia', 'Cameroon', 'Canada', 'Cape_Verde',
       'Cases_on_an_international_conveyance_Japan', 'Cayman_Islands',
       'Central_African_Republic', 'Chad', 'Chile', 'China', 'Colombia',
       'Comoros', 'Congo', 'Costa_Rica', 'Cote_dIvoire', 'Croatia',
       'Cuba', 'Curaao', 'Cyprus', 'Czechia',
       'Democratic_Republic_of_the_Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican_Republic', 'Ecuador', 'Egypt',
       'El_Salvador', 'Equatorial_Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Falkland_Islands_(Malvinas)',
       'Faroe_Islands', 'Fiji', 'Finland', 'France', 'French_Polynesia',
       'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Gibraltar',
       'Greece', 'Greenland', 'Grenada', 'Guam', 'Guatemala', 'Guernsey',
       'Guinea', 'Guinea_Bissau', 'Guyana', 'Haiti', 'Holy_See',
       'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran',
       'Iraq', 'Ireland', 'Isle_of_Man', 'Israel', 'Italy', 'Jamaica',
       'Japan', 'Jersey', 'Jordan', 'Kazakhstan', 'Kenya', 'Kosovo',
       'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho',
       'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg',
       'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Mauritania', 'Mauritius', 'Mexico', 'Moldova', 'Monaco',
       'Mongolia', 'Montenegro', 'Montserrat', 'Morocco', 'Mozambique',
       'Myanmar', 'Namibia', 'Nepal', 'Netherlands', 'New_Caledonia',
       'New_Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'North_Macedonia',
       'Northern_Mariana_Islands', 'Norway', 'Oman', 'Pakistan',
       'Palestine', 'Panama', 'Papua_New_Guinea', 'Paraguay', 'Peru',
       'Philippines', 'Poland', 'Portugal', 'Puerto_Rico', 'Qatar',
       'Romania', 'Russia', 'Rwanda', 'Saint_Kitts_and_Nevis',
       'Saint_Lucia', 'Saint_Vincent_and_the_Grenadines', 'San_Marino',
       'Sao_Tome_and_Principe', 'Saudi_Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra_Leone', 'Singapore', 'Sint_Maarten',
       'Slovakia', 'Slovenia', 'Solomon_Islands', 'Somalia',
       'South_Africa', 'South_Korea', 'South_Sudan', 'Spain', 'Sri_Lanka',
       'Sudan', 'Suriname', 'Sweden', 'Switzerland', 'Syria', 'Taiwan',
       'Tajikistan', 'Thailand', 'Timor_Leste', 'Togo',
       'Trinidad_and_Tobago', 'Tunisia', 'Turkey',
       'Turks_and_Caicos_islands', 'Uganda', 'Ukraine',
       'United_Arab_Emirates', 'United_Kingdom',
       'United_Republic_of_Tanzania', 'United_States_of_America',
       'United_States_Virgin_Islands', 'Uruguay', 'Uzbekistan',
       'Venezuela', 'Vietnam', 'Wallis_and_Futuna', 'Western_Sahara',
       'Yemen', 'Zambia', 'Zimbabwe'], dtype=object)

In [19]:
# How many unique values for country?
len(coviddata['country'].unique())

212

In [20]:
# FILTERING
# Find all lines from Belgium
coviddata[coviddata['country'] == 'Belgium']

        dateRep  month  ...  continentExp  cum_number_14_days_cases_per_100000
4623 2020-10-27     10  ...        Europe                          1390.875437
4624 2020-10-26     10  ...        Europe                          1398.932689
4625 2020-10-25     10  ...        Europe                          1373.783239
4626 2020-10-24     10  ...        Europe                          1314.623982
4627 2020-10-23     10  ...        Europe                          1240.423939
...         ...    ...  ...           ...                                  ...
4920 2020-01-04      1  ...        Europe                                  NaN
4921 2020-01-03      1  ...        Europe                                  NaN
4922 2020-01-02      1  ...        Europe                                  NaN
4923 2020-01-01      1  ...        Europe                                  NaN
4924 2019-12-31     12  ...        Europe                                  NaN

[302 rows x 9 columns]

In [21]:
# Find all lines for the Benelux
# Of course you could use the countryterritoryCode of these countries. But what if you want to use country and you don't have countryterritoryCode?
# You could first try to find countries from Europe
coviddata[coviddata['continentExp']=='Europe']

         dateRep  month  ...  continentExp  cum_number_14_days_cases_per_100000
292   2020-10-27     10  ...        Europe                           135.374631
293   2020-10-26     10  ...        Europe                           131.287191
294   2020-10-25     10  ...        Europe                           126.710655
295   2020-10-24     10  ...        Europe                           121.924507
296   2020-10-23     10  ...        Europe                           117.068488
...          ...    ...  ...           ...                                  ...
49116 2020-01-04      1  ...        Europe                                  NaN
49117 2020-01-03      1  ...        Europe                                  NaN
49118 2020-01-02      1  ...        Europe                                  NaN
49119 2020-01-01      1  ...        Europe                                  NaN
49120 2019-12-31     12  ...        Europe                                  NaN

[14504 rows x 9 columns]

In [22]:
# This doesn't help us to find the correct name of The Netherlands, so we try it in another way
coviddata[coviddata['country'].str.contains('etherlands')]

         dateRep  month  ...  continentExp  cum_number_14_days_cases_per_100000
33595 2020-10-27     10  ...        Europe                           694.097145
33596 2020-10-26     10  ...        Europe                           673.960777
33597 2020-10-25     10  ...        Europe                           651.822344
33598 2020-10-24     10  ...        Europe                           639.404917
33599 2020-10-23     10  ...        Europe                           616.120795
...          ...    ...  ...           ...                                  ...
33892 2020-01-04      1  ...        Europe                                  NaN
33893 2020-01-03      1  ...        Europe                                  NaN
33894 2020-01-02      1  ...        Europe                                  NaN
33895 2020-01-01      1  ...        Europe                                  NaN
33896 2019-12-31     12  ...        Europe                                  NaN

[302 rows x 9 columns]

In [23]:
# Find all lines for the Benelux
coviddata[coviddata['country'].isin(['Belgium','Netherlands', 'Luxembourg'])]

         dateRep  month  ...  continentExp  cum_number_14_days_cases_per_100000
4623  2020-10-27     10  ...        Europe                          1390.875437
4624  2020-10-26     10  ...        Europe                          1398.932689
4625  2020-10-25     10  ...        Europe                          1373.783239
4626  2020-10-24     10  ...        Europe                          1314.623982
4627  2020-10-23     10  ...        Europe                          1240.423939
...          ...    ...  ...           ...                                  ...
33892 2020-01-04      1  ...        Europe                                  NaN
33893 2020-01-03      1  ...        Europe                                  NaN
33894 2020-01-02      1  ...        Europe                                  NaN
33895 2020-01-01      1  ...        Europe                                  NaN
33896 2019-12-31     12  ...        Europe                                  NaN

[899 rows x 9 columns]

In [24]:
# Find all lines where the number of deaths is not 0
coviddata[~(coviddata['deaths'] == 0)]

         dateRep  month  ...  continentExp  cum_number_14_days_cases_per_100000
0     2020-10-27     10  ...          Asia                             2.902074
1     2020-10-26     10  ...          Asia                             2.718066
2     2020-10-25     10  ...          Asia                             2.799555
3     2020-10-24     10  ...          Asia                             2.586631
4     2020-10-23     10  ...          Asia                             2.452568
...          ...    ...  ...           ...                                  ...
51590 2020-06-21      6  ...        Africa                             1.413406
51647 2020-04-25      4  ...        Africa                             0.122905
51662 2020-04-10      4  ...        Africa                             0.054624
51663 2020-04-09      4  ...        Africa                             0.054624
51679 2020-03-24      3  ...        Africa                                  NaN

[20018 rows x 9 columns]

In [25]:
# Find all lines where the number of deaths is not 0 and country is Belgium
coviddata[~(coviddata['deaths'] == 0) & (coviddata['country'] == 'Belgium')]

        dateRep  month  ...  continentExp  cum_number_14_days_cases_per_100000
4623 2020-10-27     10  ...        Europe                          1390.875437
4624 2020-10-26     10  ...        Europe                          1398.932689
4625 2020-10-25     10  ...        Europe                          1373.783239
4626 2020-10-24     10  ...        Europe                          1314.623982
4627 2020-10-23     10  ...        Europe                          1240.423939
...         ...    ...  ...           ...                                  ...
4849 2020-03-15      3  ...        Europe                            11.880736
4850 2020-03-14      3  ...        Europe                             8.930193
4851 2020-03-13      3  ...        Europe                             6.747839
4852 2020-03-12      3  ...        Europe                             5.228921
4853 2020-03-11      3  ...        Europe                             4.364708

[229 rows x 9 columns]

In [26]:
# Find all lines where countryterritoryCode is empty
coviddata[coviddata['countryterritoryCode'].isnull()]

         dateRep  month  ...  continentExp  cum_number_14_days_cases_per_100000
9159  2020-03-10      3  ...         Other                                  NaN
9160  2020-03-02      3  ...         Other                                  NaN
9161  2020-03-01      3  ...         Other                                  NaN
9162  2020-02-29      2  ...         Other                                  NaN
9163  2020-02-28      2  ...         Other                                  NaN
...          ...    ...  ...           ...                                  ...
50848 2020-10-21     10  ...       Oceania                                  NaN
50849 2020-10-20     10  ...       Oceania                                  NaN
50850 2020-10-19     10  ...       Oceania                                  NaN
50851 2020-10-18     10  ...       Oceania                                  NaN
50852 2020-10-17     10  ...       Oceania                                  NaN

[75 rows x 9 columns]

In [27]:
# Drop all lines where values are missing
# First print the number of values per column before
coviddata.count()

dateRep                                51683
month                                  51683
cases                                  51683
deaths                                 51683
country                                51683
countryterritoryCode                   51608
popData2019                            51608
continentExp                           51683
cum_number_14_days_cases_per_100000    48879
dtype: int64

In [28]:
# Delete all records that possibly contain empty values
coviddata = coviddata.dropna()

In [29]:
# Print the number of values per column afterwards
coviddata.count()

dateRep                                48879
month                                  48879
cases                                  48879
deaths                                 48879
country                                48879
countryterritoryCode                   48879
popData2019                            48879
continentExp                           48879
cum_number_14_days_cases_per_100000    48879
dtype: int64

In [30]:
# What were the values reported yesterday and the day beforeyesterday in Europe?
# First calculate the date of today and yesterday

from datetime import date, timedelta
today = date.today()
yesterday = today - timedelta(days = 1)
daybeforeyesterday = today - timedelta(days = 2)

print(today)
print(yesterday)
print(daybeforeyesterday)

2020-10-27
2020-10-26
2020-10-25

In [31]:
coviddata[(coviddata['dateRep'].isin([yesterday, daybeforeyesterday])) & (coviddata['continentExp'] == 'Europe')]

         dateRep  month  ...  continentExp  cum_number_14_days_cases_per_100000
293   2020-10-26     10  ...        Europe                           131.287191
294   2020-10-25     10  ...        Europe                           126.710655
823   2020-10-26     10  ...        Europe                          1761.686598
824   2020-10-25     10  ...        Europe                          1761.686598
1943  2020-10-26     10  ...        Europe                           755.951866
...          ...    ...  ...           ...                                  ...
45424 2020-10-25     10  ...        Europe                           504.334529
48296 2020-10-26     10  ...        Europe                           187.424806
48297 2020-10-25     10  ...        Europe                           184.444830
48820 2020-10-26     10  ...        Europe                           405.244866
48821 2020-10-25     10  ...        Europe                           394.864822

[108 rows x 9 columns]

In [32]:
# AGGREGATION

In [33]:
# What is the largest number of new cases in 1 day for each country?
# Maximum value of cases per country
coviddata.groupby('country')['cases'].max()

country
Afghanistan       1063
Albania            306
Algeria            675
Andorra            299
Angola             355
                  ...
Vietnam             50
Western_Sahara     242
Yemen              116
Zambia             527
Zimbabwe           490
Name: cases, Length: 209, dtype: int64

In [34]:
# Which country has the largest number of new cases in 1 day?
# Maximum value of cases per country, sorting = descending
coviddata.groupby('country')['cases'].max().sort_values(ascending=False)

country
India                          97894
United_States_of_America       85329
Brazil                         69074
Spain                          52188
France                         52010
                               ...
Montserrat                         3
Saint_Kitts_and_Nevis              2
Greenland                          1
Falkland_Islands_(Malvinas)        1
Anguilla                           0
Name: cases, Length: 209, dtype: int64

In [35]:
# What is the dateRep of the largest number of new cases in 1 day?
coviddata.groupby(['country']).agg({'cases': "max", 'dateRep': "max"}).sort_values(by='cases', ascending=False)

                             cases    dateRep
country
India                        97894 2020-10-27
United_States_of_America     85329 2020-10-27
Brazil                       69074 2020-10-27
Spain                        52188 2020-10-26
France                       52010 2020-10-27
...                            ...        ...
New_Caledonia                    3 2020-10-27
Saint_Kitts_and_Nevis            2 2020-10-27
Greenland                        1 2020-10-27
Falkland_Islands_(Malvinas)      1 2020-10-27
Anguilla                         0 2020-10-27

[209 rows x 2 columns]

In [36]:
# What is the dateRep of the largest number of new cases in 1 day? Nicely formatted
coviddata.groupby(['country']).agg({'cases': "max", 'dateRep': "max"}).sort_values(by='cases', ascending=False).reset_index()

                         country  cases    dateRep
0                          India  97894 2020-10-27
1       United_States_of_America  85329 2020-10-27
2                         Brazil  69074 2020-10-27
3                          Spain  52188 2020-10-26
4                         France  52010 2020-10-27
..                           ...    ...        ...
204                New_Caledonia      3 2020-10-27
205        Saint_Kitts_and_Nevis      2 2020-10-27
206                    Greenland      1 2020-10-27
207  Falkland_Islands_(Malvinas)      1 2020-10-27
208                     Anguilla      0 2020-10-27

[209 rows x 3 columns]

In [37]:
# What is the largest and the total number of new cases for each country?
# Maximum value and sum of values of cases per country
coviddata.groupby('country')['cases'].agg(['max','sum']).sort_values(by='sum',ascending=False)

                               max      sum
country
United_States_of_America     85329  8704524
India                        97894  7946429
Brazil                       69074  5409854
Russia                       33897  1547774
France                       52010  1165278
...                            ...      ...
Montserrat                       3        8
Saint_Kitts_and_Nevis            2        8
Greenland                        1        7
Falkland_Islands_(Malvinas)      1        2
Anguilla                         0        0

[209 rows x 2 columns]

In [38]:
# What is the largest and the total number of new cases for each country? The columns are renamed
# Maximum value and sum of values of cases per country + renaming the columns
coviddata.groupby('country')['cases'].agg(['max','sum']).rename(columns={'max':'maximum_value', 'sum': 'total_number'}).sort_values(by='total_number',ascending=False)

# coviddata.groupby('country')['cases'].agg(['max','sum']).rename(columns={'max':'maximum_value', 'sum': 'total_number'}).sort_values(by=['maximum_value','total_number'],ascending=[False,True])

                             maximum_value  total_number
country
United_States_of_America             85329       8704524
India                                97894       7946429
Brazil                               69074       5409854
Russia                               33897       1547774
France                               52010       1165278
...                                    ...           ...
Montserrat                               3             8
Saint_Kitts_and_Nevis                    2             8
Greenland                                1             7
Falkland_Islands_(Malvinas)              1             2
Anguilla                                 0             0

[209 rows x 2 columns]

In [39]:
# What is the total number of cases for each continent and each country?
coviddata.groupby(['continentExp', 'country'])['cases'].sum()

continentExp  country
Africa        Algeria                     56419
              Angola                       9373
              Benin                        2551
              Botswana                     6270
              Burkina_Faso                 2360
                                          ...
Oceania       Guam                         4276
              New_Caledonia                  11
              New_Zealand                  1585
              Northern_Mariana_Islands       81
              Papua_New_Guinea              587
Name: cases, Length: 209, dtype: int64

In [40]:
# What is the total number of cases for each continent and each country? Nicely formatted
coviddata.groupby(['continentExp', 'country'])['cases'].sum().reset_index()

    continentExp                   country  cases
0         Africa                   Algeria  56419
1         Africa                    Angola   9373
2         Africa                     Benin   2551
3         Africa                  Botswana   6270
4         Africa              Burkina_Faso   2360
..           ...                       ...    ...
204      Oceania                      Guam   4276
205      Oceania             New_Caledonia     11
206      Oceania               New_Zealand   1585
207      Oceania  Northern_Mariana_Islands     81
208      Oceania          Papua_New_Guinea    587

[209 rows x 3 columns]

In [41]:
# Exercise: What is the top 15 of countries with most Corona deaths in absolute numbers
coviddata.groupby('country')['deaths'].sum().sort_values(ascending=False).reset_index().head(15)

                     country  deaths
0   United_States_of_America  225735
1                     Brazil  157397
2                      India  119502
3                     Mexico   89171
4             United_Kingdom   44998
5                      Italy   37479
6                      Spain   35031
7                     France   35018
8                       Peru   34195
9                       Iran   32953
10                  Colombia   30346
11                 Argentina   29299
12                    Russia   26589
13              South_Africa   19008
14                     Chile   14003

In [42]:
# Exercise: What is the top 15 of countries with most Corona deaths in relative numbers
extra = coviddata.groupby(['country','popData2019'])['deaths'].sum().sort_values(ascending=False).reset_index()
extra.head(15)

                     country   popData2019  deaths
0   United_States_of_America  3.290649e+08  225735
1                     Brazil  2.110495e+08  157397
2                      India  1.366418e+09  119502
3                     Mexico  1.275755e+08   89171
4             United_Kingdom  6.664711e+07   44998
5                      Italy  6.035955e+07   37479
6                      Spain  4.693706e+07   35031
7                     France  6.701288e+07   35018
8                       Peru  3.251046e+07   34195
9                       Iran  8.291389e+07   32953
10                  Colombia  5.033944e+07   30346
11                 Argentina  4.478068e+07   29299
12                    Russia  1.458723e+08   26589
13              South_Africa  5.855827e+07   19008
14                     Chile  1.895204e+07   14003

In [43]:
extra['rel_nr_of_deaths_per_100000'] = extra['deaths'] * 100000 / extra['popData2019']
extra.sort_values(by=['rel_nr_of_deaths_per_100000'], ascending=False).head(15)

                      country  popData2019  deaths  rel_nr_of_deaths_per_100000
149                San_Marino      34453.0      42                   121.905204
8                        Peru   32510462.0   34195                   105.181526
17                    Belgium   11455519.0   10899                    95.141914
133                   Andorra      76177.0      72                    94.516718
22                    Bolivia   11513102.0    8658                    75.201279
6                       Spain   46937060.0   35031                    74.633989
1                      Brazil  211049519.0  157397                    74.578232
14                      Chile   18952035.0   14003                    73.886525
16                    Ecuador   17373657.0   12573                    72.368184
3                      Mexico  127575529.0   89171                    69.896634
0    United_States_of_America  329064917.0  225735                    68.598926
4              United_Kingdom   66647112.0   44998                    67.516804
11                  Argentina   44780675.0   29299                    65.427777
5                       Italy   60359546.0   37479                    62.092912
36                     Panama    4246440.0    2635                    62.051978

In [44]:
# We don't need the columns popData2019 and deaths in the dataframe extra any more
extra = extra.drop(['popData2019','deaths'], axis=1)
extra.sort_values(by=['rel_nr_of_deaths_per_100000'], ascending=False).head(15)

                      country  rel_nr_of_deaths_per_100000
149                San_Marino                   121.905204
8                        Peru                   105.181526
17                    Belgium                    95.141914
133                   Andorra                    94.516718
22                    Bolivia                    75.201279
6                       Spain                    74.633989
1                      Brazil                    74.578232
14                      Chile                    73.886525
16                    Ecuador                    72.368184
3                      Mexico                    69.896634
0    United_States_of_America                    68.598926
4              United_Kingdom                    67.516804
11                  Argentina                    65.427777
5                       Italy                    62.092912
36                     Panama                    62.051978

In [45]:
# Exercise: Are there countries where people have more chance to die from corona?
# Calculate the percentage of deaths relative to the number of cases
extra = coviddata.groupby(['country']).agg({'deaths': "sum", 'cases': "sum"}).reset_index()
extra['rel_nr_of_deaths_per_nr_of_cases'] = extra['deaths'] / extra['cases']
extra.sort_values(by=['rel_nr_of_deaths_per_nr_of_cases'], ascending=False).head(15)

         country  deaths   cases  rel_nr_of_deaths_per_nr_of_cases
206        Yemen     600    2063                          0.290839
130   Montserrat       1       8                          0.125000
125       Mexico   89171  895325                          0.099596
96   Isle_of_Man      24     286                          0.083916
57       Ecuador   12573  162178                          0.077526
67          Fiji       2      28                          0.071429
98         Italy   37479  542789                          0.069049
39          Chad      96    1434                          0.066946
101       Jersey      30     475                          0.063158
82      Guernsey      13     206                          0.063107
23       Bolivia    8658  140920                          0.061439
180        Sudan     836   13744                          0.060827
58         Egypt    6211  106707                          0.058206
112      Liberia      82    1413                          0.058033
93          Iran   32953  574856                          0.057324

In [46]:
# Excercise: On which day was the first Belgian Covid death reported?
coviddata[(coviddata['country'] == 'Belgium') & (coviddata['deaths'] >= 1)].sort_values(by=['dateRep'])

        dateRep  month  ...  continentExp  cum_number_14_days_cases_per_100000
4853 2020-03-11      3  ...        Europe                             4.364708
4852 2020-03-12      3  ...        Europe                             5.228921
4851 2020-03-13      3  ...        Europe                             6.747839
4850 2020-03-14      3  ...        Europe                             8.930193
4849 2020-03-15      3  ...        Europe                            11.880736
...         ...    ...  ...           ...                                  ...
4627 2020-10-23     10  ...        Europe                          1240.423939
4626 2020-10-24     10  ...        Europe                          1314.623982
4625 2020-10-25     10  ...        Europe                          1373.783239
4624 2020-10-26     10  ...        Europe                          1398.932689
4623 2020-10-27     10  ...        Europe                          1390.875437

[229 rows x 9 columns]

In [47]:
# Exercise: What was the last country to report the first Corona deaths?
extra = coviddata[coviddata['deaths'] >= 1]
extra = extra.groupby(['country'])['dateRep'].min().sort_values(ascending=False).reset_index()
extra.head(15)

                              country    dateRep
0   Bonaire, Saint Eustatius and Saba 2020-09-15
1                    French_Polynesia 2020-09-12
2                             Vietnam 2020-08-01
3                                Fiji 2020-08-01
4                    Papua_New_Guinea 2020-07-29
5                            Botswana 2020-07-28
6                              Uganda 2020-07-25
7                             Namibia 2020-07-11
8                             Lesotho 2020-07-10
9            Turks_and_Caicos_islands 2020-07-01
10                             Gambia 2020-06-21
11                             Rwanda 2020-05-31
12                     Western_Sahara 2020-05-30
13                            Comoros 2020-05-28
14                         Mozambique 2020-05-26

In [48]:
# What is the total number of cases for each European country per month?
# unstack --> Nice visual explanation can be found on 
# http://www.datasciencemadesimple.com/reshape-using-stack-unstack-function-pandas-python/

coviddata[coviddata['continentExp'] == 'Europe'].groupby(['month', 'country'])['cases'].sum().unstack().sort_values(by=['month'])

country  Albania  Andorra  Armenia  ...  Switzerland   Ukraine  United_Kingdom
month                               ...
1            NaN      NaN      0.0  ...          0.0       NaN             0.0
2            NaN      NaN      0.0  ...         12.0       NaN            30.0
3          153.0    182.0    532.0  ...      15400.0     367.0         29651.0
4          543.0    373.0   1534.0  ...      13912.0    9386.0        137469.0
5          356.0     21.0   7216.0  ...       1438.0   13338.0         87240.0
6         1344.0     91.0  16260.0  ...        807.0   20424.0         29151.0
7         2731.0     67.0  13008.0  ...       3364.0   25166.0         18760.0
8         4183.0    202.0   5200.0  ...       6973.0   50280.0         32166.0
9         4138.0    842.0   6151.0  ...      10845.0   85858.0        111689.0
10        5927.0   2359.0  30509.0  ...      67929.0  143992.0        448534.0

[10 rows x 54 columns]

In [49]:
# Replace NaN in the previous result by 0.0
coviddata[coviddata['continentExp'] == 'Europe'].groupby(['month', 'country'])['cases'].sum().unstack().sort_values(by=['month']).fillna(0)

country  Albania  Andorra  Armenia  ...  Switzerland   Ukraine  United_Kingdom
month                               ...
1            0.0      0.0      0.0  ...          0.0       0.0             0.0
2            0.0      0.0      0.0  ...         12.0       0.0            30.0
3          153.0    182.0    532.0  ...      15400.0     367.0         29651.0
4          543.0    373.0   1534.0  ...      13912.0    9386.0        137469.0
5          356.0     21.0   7216.0  ...       1438.0   13338.0         87240.0
6         1344.0     91.0  16260.0  ...        807.0   20424.0         29151.0
7         2731.0     67.0  13008.0  ...       3364.0   25166.0         18760.0
8         4183.0    202.0   5200.0  ...       6973.0   50280.0         32166.0
9         4138.0    842.0   6151.0  ...      10845.0   85858.0        111689.0
10        5927.0   2359.0  30509.0  ...      67929.0  143992.0        448534.0

[10 rows x 54 columns]

In [50]:
# alternative solution:
table = pd.pivot_table(coviddata[coviddata['continentExp'] == 'Europe'], values='cases', index='month',columns='country',aggfunc=np.sum).fillna(0)
table

country  Albania  Andorra  Armenia  ...  Switzerland   Ukraine  United_Kingdom
month                               ...
1            0.0      0.0      0.0  ...          0.0       0.0             0.0
2            0.0      0.0      0.0  ...         12.0       0.0            30.0
3          153.0    182.0    532.0  ...      15400.0     367.0         29651.0
4          543.0    373.0   1534.0  ...      13912.0    9386.0        137469.0
5          356.0     21.0   7216.0  ...       1438.0   13338.0         87240.0
6         1344.0     91.0  16260.0  ...        807.0   20424.0         29151.0
7         2731.0     67.0  13008.0  ...       3364.0   25166.0         18760.0
8         4183.0    202.0   5200.0  ...       6973.0   50280.0         32166.0
9         4138.0    842.0   6151.0  ...      10845.0   85858.0        111689.0
10        5927.0   2359.0  30509.0  ...      67929.0  143992.0        448534.0

[10 rows x 54 columns]

In [51]:
# Window functions
# LAG
coviddata['cases_previous_day'] = coviddata.sort_values(by=['dateRep'], ascending=True)['cases'].shift(1)
coviddata.head()

     dateRep  month  ...  cum_number_14_days_cases_per_100000  cases_previous_day
0 2020-10-27     10  ...                             2.902074                 1.0
1 2020-10-26     10  ...                             2.718066               986.0
2 2020-10-25     10  ...                             2.799555                 0.0
3 2020-10-24     10  ...                             2.586631                 0.0
4 2020-10-23     10  ...                             2.452568               138.0

[5 rows x 10 columns]

In [52]:
# LEAD
coviddata['cases_next_day'] = coviddata.sort_values(by=['dateRep'], ascending=True)['cases'].shift(-1)
coviddata.head()

     dateRep  month  ...  cases_previous_day  cases_next_day
0 2020-10-27     10  ...                 1.0             NaN
1 2020-10-26     10  ...               986.0             2.0
2 2020-10-25     10  ...                 0.0            11.0
3 2020-10-24     10  ...                 0.0          2899.0
4 2020-10-23     10  ...               138.0             0.0

[5 rows x 11 columns]

In [53]:
# Choose your own countries of interest
some_countries = ['Austria', 'Belgium','France','Germany', 'Italy', 'Netherlands', 'Spain', 'United_Kingdom', 'United_States_of_America']
extra = coviddata[coviddata['country'].isin(some_countries)]
extra.head()

        dateRep  month  ...  cases_previous_day  cases_next_day
2756 2020-10-27     10  ...                 0.0           316.0
2757 2020-10-26     10  ...               509.0             8.0
2758 2020-10-25     10  ...                12.0             1.0
2759 2020-10-24     10  ...              1759.0            17.0
2760 2020-10-23     10  ...                88.0             3.0

[5 rows x 11 columns]

In [54]:
# Show for some_countries a ranking (per country) of the days with the most new cases. 
# Show only the top 5 days per country
# In SQL: ROW_NUMBER() over (PARTITION BY country ORDER BY cases DESC) as rank

extra['rank'] = extra.sort_values(by=['cases'], ascending=False).groupby(['country']).cumcount() + 1
extra[extra['rank'] <= 5].sort_values(by=['country','rank'], ascending=True).head(15)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

         dateRep  month  cases  ...  cases_previous_day cases_next_day rank
2759  2020-10-24     10   3442  ...              1759.0           17.0    1
2758  2020-10-25     10   2989  ...                12.0            1.0    2
2757  2020-10-26     10   2766  ...               509.0            8.0    3
2760  2020-10-23     10   2570  ...                88.0            3.0    4
2756  2020-10-27     10   2512  ...                 0.0          316.0    5
4629  2020-10-21     10  18574  ...                 0.0         1627.0    1
4628  2020-10-22     10  16103  ...               714.0         1542.0    2
4627  2020-10-23     10  15085  ...                 0.0          792.0    3
4630  2020-10-20     10  15032  ...                31.0            6.0    4
4626  2020-10-24     10  14560  ...                17.0        14714.0    5
17053 2020-10-26     10  52010  ...                 1.0           18.0    1
17054 2020-10-25     10  45422  ...               166.0            1.0    2
17055 2020-10-24     10  42032  ...                85.0            0.0    3
17056 2020-10-23     10  41622  ...                28.0            0.0    4
17061 2020-10-18     10  32427  ...               227.0           18.0    5

[15 rows x 12 columns]

In [55]:
# Running Average
# Calculate the average number of cases registered in the past week
# In SQL AVG(cases) OVER (ORDER BY dateRep ROWS BETWEEN 6 PRECEDING AND CURRENT ROW) as avg_number_cases_past_week
extra['avg_number_cases_past_week'] = extra.sort_values(by=['dateRep'], ascending=True).groupby('country')['cases'].rolling(6, min_periods = 1).mean()
extra.head()

TypeError: ignored

In [ ]:
# We only need the data form Belgium
covid_belgium = coviddata[coviddata['country'] == 'Belgium']
covid_belgium.head()

In [ ]:
# Drop the columns  month, country, countryterritoryCode, continentExp
covid_belgium = covid_belgium.drop(['month','country','countryterritoryCode','continentExp'], axis=1)
covid_belgium.head()

In [ ]:
belgium = covid[covid['Country/Region']=='Belgium']
belgium

In [ ]:
Brazil = covid[covid['Country/Region']=='Brazil']

In [ ]:
Brazil.head(20)

In [ ]:
# make Series of inhabitants per country (source: wikipedia)
inhabitants = pd.Series()
inhabitants['Belgium'] = 11491346
inhabitants['France'] = 64834000  # metropolitan France only
inhabitants['Netherlands'] = 17424978
inhabitants['Italy'] = 60317546
inhabitants['Spain'] = 46733038
inhabitants['Germany'] = 83149300
inhabitants['China'] = 58500000 #Hubei only
inhabitants['United Kingdom'] = 67545757
inhabitants['US'] = 326625791
inhabitants['Iran'] = 82021564
inhabitants['Sweden'] = 9960487
inhabitants['Denmark'] = 5605948
inhabitants['Finland'] = 5518371 
inhabitants['Norway'] = 5367580
inhabitants['Austria'] = 8754413
inhabitants['Switzerland'] = 8236303
inhabitants['India'] = 1281935911
inhabitants['Brazil'] = 207353391

In [ ]:
def DrawCurve(province,country,color):
    if province == '':
        df = covid[(covid['Country/Region']==country) & (covid['Province/State'].isnull())]  # isnull()==True if NaN
    else:
        df = covid[(covid['Province/State']==province) & (covid['Country/Region']==country)]

    df = df.drop(['Province/State','Country/Region','Lat','Long'],axis=1)
    
    df_2 = df.T  # transpose
    
    df_2 = df_2.rename(columns={df_2.columns[0]:'cases'})   

    df_2['new_cases'] = df_2['cases'] - df_2.cases.shift(1)  # shift(1) returns the previous line

    df_2['new_cases'] = np.round(df_2['new_cases']*1000000.0/inhabitants[country],1)  # cases per million inhabitants

    # skip days at beginning as long as new_cases (per million) < 10
    for index,row in df_2.iterrows():
        if row['new_cases'] >= 10:
            break
        else:
            df_2.drop(index,inplace=True)
  
    df_2 = df_2.reset_index() # brengt de index naar een kolom met naam 'index'

    df_2 = df_2.drop(['index'],axis=1)
    df_2 = df_2.reset_index()

    df_2['new_cases'] = df_2['new_cases'].rolling(7).mean() # moving average of last 7 days 
    df_2 = df_2.rename(columns={'index':'dayssincefirst'})
    
    plt.plot(df_2['dayssincefirst'], df_2['new_cases'], color=color, label=country+' '+province, linewidth=3.0)

In [ ]:
from datetime import datetime
last_update = covid.columns[-1]
last_update = datetime.strptime(last_update, '%m/%d/%y')
last_update = datetime.strftime(last_update,'%Y-%m-%d')

In [ ]:
import matplotlib.pyplot as plt 
%matplotlib inline
# set the size of the diagrams
from matplotlib.pylab import rcParams
rcParams['figure.figsize'] = 18,9
rcParams['figure.dpi'] = 200
plt.xlabel('Days since threshold of 10 new cases per million inhabitants')
plt.ylim([0,250])
plt.title('Evolution of new daily cases per million inhabitants (moving average of last 7 days) - Last update: ' + last_update)
plt.style.use('classic')

DrawCurve('','Belgium',color='black')

DrawCurve('','Germany',color='brown')
DrawCurve('','France',color='blue')
DrawCurve('','Italy',color='green')
DrawCurve('','Netherlands',color='red')
DrawCurve('','Spain',color='cyan')
# DrawCurve('Hubei','China',color='magenta')
DrawCurve('','United Kingdom',color='#00ff00')
DrawCurve('','Sweden',color='orange')
DrawCurve('','US',color='yellow')
DrawCurve('','Brazil',color='magenta')
DrawCurve('','India',color='grey')

plt.legend(loc='upper left',fontsize='x-small',frameon=True)

plt.show()

In [ ]:
# show top 10 of countries with most deaths per 1.000.000 inhabitants
# import data
deaths = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv',sep=',')

# totaldeaths is value in last column
deaths['totaldeaths'] = deaths[deaths.columns[-1]]

# keep only relevant columns
deaths = deaths[['Country/Region','Province/State','totaldeaths']]
print(deaths.sort_values(by='totaldeaths',ascending=False).head(15))

def inh(c):
    if c in inhabitants:
        return inhabitants[c]
    else:
        return 1000000000
    
deaths['inhabitants'] = deaths['Country/Region'].map(inh)
print(deaths.head(15))
deaths['totaldeathspermillion'] = deaths['totaldeaths']*1000000/deaths['inhabitants']

In [ ]:
# sort by totaldeaths
top10 = deaths.sort_values(by='totaldeathspermillion',ascending=False).head(10).reset_index().drop(['index'],axis=1).reset_index()
top10['Rank'] = top10['index'] + 1
top10 = top10[['Rank','Country/Region','totaldeathspermillion']]
top10