# Pandas Analytics: case Census

The Census Income Dataset is often used for testing and teaching data analytics and machine learning algorithms
wikipedia: "A census is the procedure of systematically acquiring and recording information 
about the members of a given population."
The dataset is used to predict whether income exceeds $50K/yr based on census data. 

Listing of attributes: 
 
>50K, <=50K. 

age: continuous. 
workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked. 
fnlwgt: continuous. (The \# of people the census takers believe that observation represents.)<br>
education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool. <br>
education-num: continuous. (Highest level of education in numerical form)
marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse. 
occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces. <br>
relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried. (Contains family relationship values 
like husband, father, and so on, but only contains one per observation.)<br>
race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black. <br>
gender: Female, Male. <br>
capital-gain: continuous. <br>
capital-loss: continuous. <br>
hours-per-week: continuous. <br>
native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, 
    Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, 
    Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, 
    Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holland-Netherlands.

In [5]:
import pandas as pd
import numpy as np

Import the file adult.csv as a dataframe and show the first 10 lines

In [6]:
adults = pd.read_csv('https://raw.githubusercontent.com/HOGENT-Databases/DB3-Workshops/master/data/adult.csv')
adults.head(100)

    age          workclass  fnlwgt  ... hours-per-week  native-country  income
0    39          State-gov   77516  ...             40   United-States   <=50K
1    50   Self-emp-not-inc   83311  ...             13   United-States   <=50K
2    38            Private  215646  ...             40   United-States   <=50K
3    53            Private  234721  ...             40   United-States   <=50K
4    28            Private  338409  ...             40            Cuba   <=50K
..  ...                ...     ...  ...            ...             ...     ...
95   29          Local-gov  115585  ...             50   United-States   <=50K
96   48   Self-emp-not-inc  191277  ...             60   United-States    >50K
97   37            Private  202683  ...             48   United-States    >50K
98   48            Private  171095  ...             40         England   <=50K
99   32        Federal-gov  249409  ...             40   United-States   <=50K

[100 rows x 15 columns]

Show the number of times each field is non empty

Show the lines in which native-country is empty

Remove the columns fnlwgt, education and relationship. 
Show the first 5 lines

Count the number of people per country in the dataset

Provide statistical information about the age per country

Find all people from Vietnam that are older than 60

Convert all marital statuses to a number (0, 1, 2, ...) in alphabetical order

Show per age and per gender the total number of hours-per-week